.icons {
  display: flex;
  justify-content: space-around;
  font-size: 150px;
  color: royalblue;
}

.comIcons {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
